/* App CSS styles */

.App{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}

#function-visualizer {
  border-right: 1px solid #ccc;
  width: 100%;
  height: 100vh;
}

#controls {
  padding: 20px;
  width: 100%;
  height: 100vh;
}